.link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.box-main {
    display: flex;
    img {
        object-fit: cover;
        border-radius: 5px;
    }

    .box-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 20px;


        .box-info-item {
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.box-info-booking {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .box-info-booking-user {
        flex: 1;
        min-width: 200px;
        border: 1px solid #e9ecef;
        border-radius: 5px;
        background-color: #f8f9fa;
        padding: 20px;
        display: flex;
        flex-direction: column;
        max-height: 200px;
        overflow: auto;
    }

    .box-info-booking-timeslot {
        flex: 2;

        .box-info-booking-timeslot-item {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            padding: 10px;
            border: 1px solid #e9ecef;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: #f8f9fa;
        }
    }
}
